/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

.tym {
	display:flex;
	flex-direction: column;
}

h1 {
	text-align: center;
}

.osoba {
	text-align: center;
	border: 1px solid gray;
	margin: 15px;
	border-radius: 2%;
	box-shadow: 2px 2px lightblue;
}

img {
	padding-top: 20px;
}

.popis {
	text-align: center;
}

img {
	border-radius: 50%;
}

@media (min-width:540px) {
	.tym {
		display:flex;
		flex:wrap;
	}
	.osoba {
		width:50%;
	}
}


@media (min-width:960px) {
	.tym {
		display:flex;
		flex-direction: row;
		flex:wrap;
	}
	.osoba {
		width:50%;
	}
}
