/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

.tym {
	display:flex;
	flex-direction: column;
}

h1 {
	text-align: center;
}

.osoba {
	text-align: center;
}