/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*.tym {
	display:flex;
	flex-direction: column;
}

h1 {
	text-align: center;
}

.osoba {
	text-align: center;
	border: 1px solid gray;
	margin: 2%;
	border-radius: 2%;
	box-shadow: 2px 2px lightblue;
	padding: 0 20px 0 20px;
}

img {
	padding-top: 20px;
	border-radius: 50%;
	max-width: 100%;
}

.popis {
	text-align: center;
}


@media (min-width:540px) {
	.tym {
		display:flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.osoba {
		width: 46%;
	}
}


@media (min-width:960px) {
	.tym {
		display:flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.osoba {
		width: 20%;
		text-align: center;
	}
}*/
